@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F9F9F9;
  color: #625757;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #1f2023;
    color: #dadada;
  }
}

@font-face {
  font-family: Poppins-Regular;
  src: local('Poppins-Regular'), url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Poppins-Medium;
  src: local('Poppins-Medium'), url(./assets/fonts/Poppins-Medium.ttf) format('truetype');
}


@font-face {
  font-family: Kugile;
  src: local('Kugile'), url(./assets/fonts/Kugile.ttf) format('truetype');
}

@font-face {
  font-family: Vindey;
  src: local('Vindey'), url(./assets/fonts/Wasted-Vindey.ttf) format('truetype');
}